{% extends 'public/base.html' %}
{% block title %}馨然之家健康平台|后台管理系统{% endblock %}
{% block static %}
{% endblock %}
{% block centent %}
    <form class="form-inline row" rol="form" action="/product/index/" mothod="get">
        <div class="row">
            <div class="col-md-2 col-sm-2 ">
                <div class="input-group">
                    <span class="input-group-addon">编号</span>
                    <input type="number" class="form-control" id="number" name="id" placeholder="请输入编号">
                </div>
            </div>
            <div class="col-md-2 col-sm-2 ">
                <div class="input-group">
                    <span class="input-group-addon">类型</span>
                    <input type="text" class="form-control " id="class" name="gc_name"
                           placeholder="请输入产品类型">
                </div>
            </div>
            <div class="col-md-2 col-sm-2 ">
                <div class="input-group">
                    <span class="input-group-addon">名称</span>
                    <input type="text" class="form-control " id="name" name="goods_name"
                           placeholder="请输入产品名称">
                </div>
            </div>
            <div class="col-md-2 col-sm-2 ">
                <div class="input-group">
                    <span class="input-group-addon">销售量</span>
                    <input type="number" class="form-control  " id="sale_number" name="sale_number"
                           placeholder="请输入销售量">
                </div>
            </div>
            <div class="col-md-2 col-sm-2 ">
                <div class="input-group">
                    <span class="input-group-addon">库存</span>
                    <input type="number" class="form-control" id="stock_number" name="stock_number"
                           placeholder="请输入库存">
                </div>
            </div>

            <div class="form-group col-md-1 col-sm-1">
                <input type="submit" class="form-control btn btn-success" value="查询" style="width: 100%">
            </div>
            <a href="/product/index" class="btn btn-success">清除搜索结果</a>
        </div>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>类型</th>
            <th>销售量</th>
            <th>库存</th>
            <th>内部价格</th>
            <th>店面价格</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.goods_name }}</td>
                <td>{{ product.gc_name }}</td>
                <td>{{ product.get_sale_number }}</td>
                <td>{{ product.get_stock_number }}</td>
                <td>{{ product.goods_price }}</td>
                <td>{{ product.goods_store_price }}</td>
                <td>
                    <a href="/product/show/{{ product.id }}" class="btn btn-success">查看</a>
                    <a href="/product/delete/{{ product.id }}" class="btn btn-danger">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            第{{ products.number }}页 / 一共{{ products.paginator.num_pages }}页
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">下一页</a>
        {% endif %}
    </span>
    </div>
    <a class="btn btn-danger" href="/products/create">创建商品</a>
{% endblock %}
