<html lang="zh-CN">
    <!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css">
        <script src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        {% block static %}{% endblock %}
    </head>
    <body bind="youdao">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">侧边导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/user/index">馨然之家后台管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                    {% if  user.is_authenticated %}
                    <li><a class="" href="/user/show/{{ user.id }}">欢迎{{  user.get_username }}使用</a></li>
                    <li><a href="/user/logout/">退出</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
        </nav>
        <div class="container-fluid"style="padding-top: 60px;">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/product/index">产品管理</a></li>
                        <li><a href="/user/index">用户管理</a></li>
                        <li><a href="/categories/index">产品种类管理</a></li>
                    </ul>
                </div>
                <div class="col-sm-9  col-md-10  main">
                    {% block centent %}{% endblock %}
                </div>
            </div>
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
