{% extends 'public/base.html' %}
{% block title %}馨然之家健康平台|后台管理系统{% endblock %}
{% block static %}
{% endblock %}
{% block centent %}
    <form class="form-inline row" rol="form" action="/user/index/" mothod="get">
        <div class="row">
            <div class="col-md-1 col-sm-1 ">
                <div class="input-group">
                    <span class="input-group-addon">编号</span>
                    <input type="number" class="form-control" id="username" name="username" placeholder="请输入姓名">
                </div>
            </div>
            <div class="col-md-2 col-sm-2 ">
                <div class="input-group">
                    <span class="input-group-addon">权限组</span>
                    <select class="form-control">
                       {% for category in categories %}
                         <option>{{ category }}</option>
                       {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 ">
                <div class="input-group">
                    <span class="input-group-addon">库存</span>
                    <input type="number" class="form-control" id="stock_number" name="stock_number"
                           placeholder="请输入库存">
                </div>
            </div>
            <div class="col-md-2 col-sm-2 ">
                <div class="input-group">
                    <span class="input-group-addon">内部价格</span>
                    <input type="number" class="form-control " id="goods_price" name="goods_price"
                           placeholder="请输入内部价格">
                </div>
            </div>
            <div class="form-group col-md-1 col-sm-1">
                <input type="submit" class="form-control btn btn-success" value="查询" style="width: 100%">
            </div>
            <a href="/product/index" class="btn btn-success">清除搜索结果</a>
        </div>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>电话</th>
            <th>权限组</th>
            <th>邮箱</th>
            <th>地址</th>
            <th>性别</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.groups_str | safe }}
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}</td>
                <td>{% ifequal user.sex 1 %}
                    男士
                    {% else %}
                    女士
                    {% endifequal %}
                </td>
                <td>
                    <a href="/user/show/{{ user.id }}/" class="btn btn-success">查看</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?page={{ products.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            第{{ users.number }}页 / 一共{{ users.paginator.num_pages }}页
        </span>

        {% if users.has_next %}
            <a href="?page={{ products.next_page_number }}">下一页</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
